$background-image: url(../img/m-h-night.jpg);
$body_backround_color: #27272c;
$header_color: white;
$button_background_color: #ffc107;

$section_card_color: #464451;
$section_card_heading_color: #f1473a;
$section_banner_gradient_1: #ffc107;
$section_banner_gradient_2: #7c1235;

$footer_background_color: #464451;