$background-image: url(../img/m-h-day.jpg);
$body_backround_color: white;
$header_color: black;

$button_background_color: #019d01;

$section_card_color: black;
$section_card_heading_color: #2bb7e1;
$section_banner_gradient_1: #019d01;
$section_banner_gradient_2: #5353d7;

$footer_background_color: black;


